.font-quintessential {
  font-family: 'Quintessential', cursive;
}

.topActive {
  background-color: transparent;
  transition: all 0.3s ease;
}

.row {
  max-width: 1200px;
  margin-left: 24px;
  margin-right: 24px;
}

.active {
  color: #fda337;
}

.active-btn {
  background-color: #e57905;
  color: white;
}

.flex-col-100 {
  flex: 0 0 100%;
}

.flex-col-50 {
  flex: 0 0 50%;
}

.flex-col-33-30 {
  flex: 0 0 calc(33.333% - 30px)
}

.flex-col-50-16 {
  flex: 0 0 calc(50% - 16px)
}

.w-100pt-24 {
  width: calc(100% - 24px);
}

.w-50pt-24 {
  width: calc(50% - 24px);
}

.w-100pt-48 {
  width: calc(100% - 48px);
}

.box-shadow-custom {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.border-b-custom {
  border-bottom: 1px solid #00000026;
}

.menu-navbar:hover .menu-navbar-hover-list {
  top: 100%;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  background: rgba(255, 255, 255, 0.95);
  padding: 24px 15.4% 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 99;
  color: #000;
}

.menu-navbar-hover-list>li {
  padding: 12px 2.2%;
  float: none;
  display: block;
  flex: 1;
}

.menu-navbar-hover-list>li>a {
  color: #000;
  border-bottom: 2px solid;
  font-size: 16px;
  display: block;
}

.menu-navbar-hover-list>li>ul {
  padding: 0;
  margin-top: 16px;
}

.menu-navbar-hover-list>li>ul>li {
  margin-bottom: 4px;
}

.menu-navbar-hover-list>li>ul>li>a {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  font-size:16px;
  line-height:22px;
}

@media only screen and (min-width: 1024px) {
  .menu {
    flex: 0 0 calc(33.333% - 30px);
    margin: 0 15px 40px;
  }

  .btn-buy {
    width: calc(100% - 24px);
  }
}

@media only screen and (min-width: 768px) {
  .btn-buy {
    width: calc(100% - 24px);
  }
}