.font-quintessential{
  font-family: 'Quintessential', cursive;
}
.topActive{
  background-color: transparent;
  transition: all 0.3s ease;
}
.row{
  max-width: 1200px;
  margin-left: 24px;
  margin-right: 24px;
}
.active{
  color: #fda337;
}

.flex-col-100{
  flex: 0 0 100%;
}

.w-100pt-24{
  width: calc(100% - 24px);
}
.w-100pt-48{
  width: calc(100% - 48px);
}

